.navbar-custom {
  background-color: #0b4ea1;
  /* background-color: var(--ct-bg-topbar-dark); */
  -webkit-box-shadow: var(--ct-box-shadow);
  box-shadow: var(--ct-box-shadow);
  padding: 0 10px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1001;
}

#sidebar-menu .menuitem-active .active {
  color: var(--ct-menu-item-active);
  background-color: "#c4a006";
  border-radius: "0 10px";
}
